@font-face {
  font-family: 'Old Sans Black';
  src: url('OldSansBlack.eot?#iefix') format('embedded-opentype'), 
  url('OldSansBlack.woff') format('woff'), 
  url('OldSansBlack.ttf') format('truetype'),
  url('OldSansBlack.svg#oldsansblack') format('svg');
}

body {
	width: 950px;
	margin: 16px auto;
	font-family: arial, sans-serif;
	font-size: 63%;
	font-weight: normal;
	color: #2E2E2E;
	background-image: url("bg.jpg");
	background-repeat: repeat;
	}
	
a {
	color: #0D0D0D;
	}
	
#header {
	font-family: 'Old Sans Black', Helvetica, sans-serif;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #18191B;
	color: #18191B;
	margin-bottom: 40px;
	}
	
#header a {
	color: #18191B;
	text-decoration: none;
	}
	
h1 {
	display: inline;
	font-size: 5em;
	font-weight: normal;
	zoom: 1;
	*display:inline;
	}
	
ul#links {
	display: inline-block;
	list-style: none;
	padding: 0;
	width: 360px;
	margin: 0 32px 0 20px;
	}
	
ul#links li {
	display: inline-block;
	text-align: center;
	font-size: 2em;
	width: 100px;
	zoom: 1;
	*display:inline;
	}
	
img.profile {
	display: inline;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
	zoom: 1;
	*display:inline;
	}

#content {
	font-size: 1.8em;
	}
	
ul.recent_examples {
	padding: 0;
	display: inline-block;
	list-style: none;
	margin: 0 0 20px 0;
	zoom: 1;
	*display:inline;
	}

ul.recent_examples li {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display:inline;
	}

#connect {
	text-align: center;
	display: inline;
	}
	
img.icon {
	display: inline;
	padding: 0 2px;
	margin: 0px;
	border: 0;
	}
	
#footer {
	margin-top: 50px;
	}
	
#copyright {
	text-align: right;
	font-size: 1.2em;
	color: #A3A3A3;
	}
